@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 67% 92.2%; /* #E0F8F7 */
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 180 100% 25.1%; /* #008080 */
    --primary-foreground: 180 100% 98%;
    --secondary: 175 50% 85%;
    --secondary-foreground: 180 100% 15%;
    --muted: 175 50% 88%;
    --muted-foreground: 240 5% 65%;
    --accent: 170 50% 37.3%; /* #309080 */
    --accent-foreground: 170 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 175 50% 80%;
    --input: 175 50% 80%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 180 100% 98%;
    --secondary: 175 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 170 60% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 180 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
